* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #4b79cf;
  background: linear-gradient(230deg,#a24bcf,#4b79cf,#4bc5cf);
  background-size: 300% 300%;
  animation: bgAnim 60s ease infinite;
  color: #fff;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

@keyframes bgAnim {
  0% {
    background-position: 0% 84%;
  }
  50% {
    background-position: 100% 16%;
  }
  100% {
    background-position: 0% 84%;
  }
}

header {
  font-size: 2rem;
}

header {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}